﻿@font-face {
	font-family: 'MyFont';
	src: url(../fonts/Yekan.eot);
	src: url(../fonts/Yekan.eot?#iefix) format("embedded-opentype"), 
         url(../fonts/Yekan.woff) format("woff"), 
         url(../fonts/Yekan.ttf) format("truetype"), 
         url(../fonts/Yekan.svg#BYekan) format("svg");
	font-weight: normal;
	font-style: normal;
}

